<p id="notice"><%= notice %></p>


<h1><%= @beer_club.name %></h1>


<p>Founded <%= @beer_club.founded %></p>


<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<p>
  <strong>Users</strong>
    <ul>
      <% @beer_club.members.each do |member| %>
          <li> <%= link_to member.username, member %> </li>
      <% end %>
    </ul>
</p>

<% unless current_user.nil? or current_user.beer_clubs.include?(@beer_club)%>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"join the club", class:"btn btn-primary"%>
    <% end%>
<% end %>


<%= edit_and_destroy_buttons(@beer_club) %>