<p id="notice"><%= notice %></p>

<h1><strong><%= @user.username %></strong></h1>

<% count = @user.ratings.count%>
<p>Has made <%= count%> <%="rating".pluralize(count)%>, average: <%=@user.average_rating %></p>

<p>Member of:</p>
<ul>
  <% @user.beer_clubs.each do |r| %>
      <li><%= link_to r.name, r%></li>
  <% end %>
</ul>

<h2>Ratings: </h2>
<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>




<%= link_to 'Edit', edit_user_path(@user) %> |
<% if @user == current_user %>
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
