<p id="notice"><%= notice %></p>

<h1><strong><%= @user.username %></strong></h1>

<% count = @user.ratings.count%>
<p>Has made <%= count%> <%="rating".pluralize(count)%>, average: <%=@user.average_rating %></p>

<p>Member of:</p>
<ul>
  <% @user.beer_clubs.each do |r| %>
      <li><%= link_to r.name, r%></li>
  <% end %>
</ul>

<p>Favorite style:
  <%if @user.favorite_style.nil?%>
      No ratings
  <%else%>
      <%=@user.favorite_style %></p>
  <%end%>



<p>Favorite brewery:
  <%if @user.favorite_brewery.nil?%>
      No ratings
  <%else%>
      <%= @user.favorite_brewery.name%></p>
  <%end%>


  <table class="table table-hover">
    <thead>
    <tr>
      <th>Ratings</th>
      <% if @user == current_user %>
        <th>Delete</th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @user.ratings.each do |rating| %>
        <tr>
          <td><%= rating %></td>
          <% if @user == current_user %>
            <td><%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>


<% unless current_user.nil? %>
  <% if @user == current_user || current_user.admin %>
    <%= link_to 'Destroy', @user, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
