<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>


<p>
  <strong>Beers:</strong>
    <ul>
      <% @style.beers.each do |beer| %>
          <li><%=link_to beer.name, beer %></li>
      <% end %>
    </ul>
</p>


<%= link_to 'Edit', edit_style_path(@style), class:"btn btn-primary" %>


<% unless current_user.nil? %>
    <%if current_user.admin%>
        <%= link_to 'Destroy', @beer_club, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
<%end%>
