<p id="notice"><%= notice %></p>

<p>
  <h2>
    <%= @brewery.name %>
    <% if not @brewery.active  %>
        <span class="label label-info">retired</span>
    <% end %>
  </h2>
</p>

<p>
  <i>Established in:
  <%= @brewery.year %>
  </i>
</p>

<p>
  <strong>Amount of beers:</strong>
  <%= @brewery.beers.count %>
</p>

<ul>
  <% @brewery.beers.each do |beer| %>
      <li><%=link_to beer.name, beer %></li>
  <% end %>
</ul>

<p>
  <% if @brewery.ratings.empty? %>
      Brewery's beers have no ratings!
  <% else%>
      Has <%=@brewery.ratings.count%> <%="rating".pluralize(@brewery.ratings.count)%>, average: <%= round @brewery.average_rating%>
  <% end %>
</p>

<%= edit_and_destroy_buttons(@brewery) %>
